<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9730300207-2voqv1pcj6j39f72rfdr0g45gmtgpsgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9730300207-2voqv1pcj6j39f72rfdr0g45gmtgpsgm</string>
	<key>API_KEY</key>
	<string>AIzaSyCya4aIE_nvSTbKDgWKP_OmxObR8WtxX_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>9730300207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTask</string>
	<key>PROJECT_ID</key>
	<string>task-9811d</string>
	<key>STORAGE_BUCKET</key>
	<string>task-9811d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9730300207:ios:b214e9375cf7de4a2d29da</string>
</dict>
</plist>